body {
  margin: 0 0;
  padding: 0 0;
}

a {
  text-decoration: none;
  color: inherit
}

td {
  padding: 5px 0 5px 15px !important
}

.react-markdown {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

#root {
  height: 100vh
}